* {
  padding: 0;
  margin: 0;
}

.movie_card {
  width: 300px;
  height: 450px;
  border: 1px solid white;
}

.poster_img {
  width: 200px;
}

html, body {
  height: 100%;
  width: 100%;
}

app-root {
  height: 100vh;
  width: 100vw;
}

.headSection {
  height: 100px;
  width: 100%;
  max-width: 100%;
  border: solid 1px black;
}

.viewDisplay {
  overflow-y: scroll;
  max-height: 86vh;
  max-width: 80vw;
}