<p>movie-list works</p>
<form #genreForm="ngForm" (click)="filterMovies(genreForm)">
  <select name="filter" id="" size="3">
    <option value="28" name="28" ngModel>Action</option>
    <option value="horror">Horror</option>
    <option value="comedy">Comedy</option>
  </select>
  <button type="submit">Filter</button>
</form>

<!-- <app-movie-card
  *ngFor="let movie of movieData"
  [movie]="movie"
></app-movie-card> -->

<!-- <div *ngFor="let movie of movieData">
  <<img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" /> -->
<!--   <p>Title:{{ movie.title }}</p>
  <p>Genre:{{ movie.genre }}</p>
  <p>Rating:{{ movie.rating }}</p>
  <p>Vote Average:{{ movie.vote_average }}</p>
  <p>Release Date:{{ movie.release_date }}</p>
  <p>Overview:{{ movie.overview }}</p>
  <p>ID:{{ movie.id }}</p>
  <p>Runtime {{ movie.runtime }}</p>
</div> -->
