<div id="mainWrapper">
  <section id="sideNav">
    <div class="headSection">
      <img
        class="spice"
        src="../../assets/wireframe/gene-transparent.png"
        alt="movie genie dude"
      />
      <img
        class="spice2"
        src="../../assets/wireframe/movie-genie-logo.png"
        alt="movie genie logo"
      />
      <div class="mg_info_container">
        <h4>
          Watching your favorite movies is more than just a
          <span id="wish_emphasis">wish</span>!
        </h4>
      </div>
    </div>
    <nav>
      <ul>
        <li (click)="navToHome()">Home</li>
        <li (click)="navToSearch()">Search</li>
        <li (click)="navToWatchList()">WatchList</li>
      </ul>
    </nav>
  </section>
  <main id="viewContainer">
    <!-- <app-home></app-home> -->
    <!-- <app-movie-list></app-movie-list> -->
    <!-- <app-search></app-search> -->
    <!-- <app-watch-list></app-watch-list> -->
    <router-outlet></router-outlet>
  </main>
</div>

<!-- <app-movie-list></app-movie-list> -->
