#mainWrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "n m   "
    "n m";
  grid-gap: 0.5em;
}
#mainHead {
  grid-area: h;
  border: solid black 1px;
  background: lightblue;
}
#sideNav {
  grid-area: n;
  border: solid black 1px;
  background: lightpink;
}
#viewContainer {
  grid-area: m;
  border: solid black 1px;
  background: lightgreen;
}
