<div id="mainWrapper">
  <section id="sideNav">
    <img src="../assets/wireframe/gene-transparent.png" alt="genie dude doing things" />
    <nav>
      <ul>
        <li><a (click)="navToHome()">Home</a></li>
        <li><a (click)="navToSearch()">Search</a></li>
        <li><a (click)="navToWatchList()">WatchList</a></li>
      </ul>
    </nav>
  </section>
  <main id="viewContainer">
    <!-- <app-home></app-home> -->
    <!-- <app-movie-list></app-movie-list> -->
    <!-- <app-search></app-search> -->
    <!-- <app-watch-list></app-watch-list> -->
    <router-outlet></router-outlet>
  </main>
</div>

<!-- <app-movie-list></app-movie-list> -->
