#mainWrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "n m   "
    "n m";
}
#mainHead {
  grid-area: h;
}
#sideNav {
  grid-area: n;
  background: #333333;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section img{
  height: 280px;
  width: 280px;
  margin-bottom: 15px;
}

li {
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
  font-size: 30px;

}

li:hover {
  cursor: pointer;
}

#viewContainer {
  grid-area: m;
}

