/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(rebeccapurple, violet, white);
}

html,
body {
  height: 100%;
  width: 100%;
}

app-root {
  height: 100vh;
  width: 100vw;
}

.headSection {
  height: 100px;
  width: 100%;
  max-width: 100%;

}

.viewDisplay {
  overflow-y: scroll;
  max-height: 86vh;
  max-width: 80vw;
}

.view_header {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline white;
  color: gold;
  text-shadow: 10px 10px 30px black;
  margin: 15px;
}



