<div class="headSection">
  <img src="../../assets/wireframe/movie-genie-logo.png" alt="movie genie logo" />
  <div class="mg_info_container">
    <h4>Now watching your favorite movies can be more than just a <span id="wish_emphasis">wish</span>!</h4>
  </div>
</div>

<form #form="ngForm" (ngSubmit)="getMovieData(form)">
  <input
    type="text"
    name="searchTerm"
    ngModel
    placeholder="What movie title are you looking for?"
  />
  <button type="submit"><i class="fas fa-search"></i></button>
</form>

<div class="viewDisplay">
  <p class="view_header">Search Results: </p>
  <app-movie-list [movieData]="movieData"></app-movie-list>
</div>
