
form {
  display: flex;
  flex-direction: row;
  /*box-shadow: 0 10px 30px 30px gray;*/
}

input {
  height: 100px;
  width: 80vw;
  font-size: 40px;
  background: grey;
  color: #ffffff;
  padding-left: 20px;
  margin-right: 50px;
  border: none;
  border-bottom: 2px gray groove;
}

button[type="submit"] {
  height: 100px;
  width: 200px;
  margin-left: -50px;
  background: grey;
  color: #ffffff;
  border: none;
  border-left: #ffffff dashed;
}

button i {
  color: #ffffff;
  font-size: 40px;
}

input::placeholder {
  color: #ffffff;
}
