<!-- <div class="headSection">
  <img
    src="../../assets/wireframe/gene-transparent.png"
    alt="movie genie dude"
  />
  <img
    src="../../assets/wireframe/movie-genie-logo.png"
    alt="movie genie logo"
  />
  <div class="mg_info_container">
    <h4>
      Now watching your favorite movies can be more than just a
      <span id="wish_emphasis">wish</span>!
    </h4>
  </div>
</div> -->

<div class="viewDisplay">
  <p class="view_header">Popular Movies</p>
  <app-pop-movie-list></app-pop-movie-list>
</div>
